{{#if editable}}
    <form>
    <label for="title">Title:</label>
    {{input type="text" value=post.title}}

    <label for="title">Author:</label>
    {{input type="text" value=post.author}}

    <label for="title">Content:</label>
    {{textarea type="text" value=post.content}}
    </form>
{{/if}}
<button {{action "goBackToIndex"}}>Click me</button>
<button {{action "toggleEdit"}}>Toggle Edit</button>
